#navbar{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}
#courses .items{
    flex-direction: column;
}
#courses .items .item{
    width: 100%;
}
.courses .course{
    flex-direction: column;
}